# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# macOS
.DS_Store
