[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.3,>=5.2"
django-environ = "*"
pillow = "*"

[dev-packages]
black = "*"
ruff = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.14"
